.circleDivStyle{
    padding: 10px;
    border:solid red 3px;
    margin: 10px;
    height: 250px;
    width: 250px;
    border-radius: 250px;
    text-align: center;
}

.sampleTextSection {
    border: 1px solid gray;
    min-height: 500px;
    max-height: 700px;
    min-width: 500px;
    max-width: 700px;
    background-color: black;
    margin: 10px;
}

.textStyle {
    padding: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
    font-variant: small-caps;
}