body {
    background-color: #999;
}
li {
    color: white;
}
.productImage {
    max-height: 300px;
    width: auto;
}
.row {
    padding-bottom: 100px;
}
.cartImage {
    max-height: 50px;
    width: auto;
}
.row {
    padding-bottom: 100px;
}